---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/ACe690dc491a27b3c2ea1d62495f768926/Messages.json
    body:
      encoding: UTF-8
      string: Body=Nearest+Center%3A%0A++++++recontextualize+vertical+partnerships&From=%2B15072747471&To=%2B1+17202018631
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNlNjkwZGM0OTFhMjdiM2MyZWExZDYyNDk1Zjc2ODkyNjozNTg4YWY0ZGJiYmEzYWE2ZTFiYjI5NGE2ODVhYTEzNw==
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQ056e2697d92343eb8963f5343f63e284
      Twilio-Request-Duration:
      - '0.108'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"sid": "SMb302628334dc4f0b926f025a92d9628d", "date_created": "Wed,
        24 Jul 2019 04:10:45 +0000", "date_updated": "Wed, 24 Jul 2019 04:10:45 +0000",
        "date_sent": null, "account_sid": "ACe690dc491a27b3c2ea1d62495f768926", "to":
        "+17202018631", "from": "+15072747471", "messaging_service_sid": null, "body":
        "Sent from your Twilio trial account - Nearest Center:\n      recontextualize
        vertical partnerships", "status": "queued", "num_segments": "1", "num_media":
        "0", "direction": "outbound-api", "api_version": "2010-04-01", "price": null,
        "price_unit": "USD", "error_code": null, "error_message": null, "uri": "/2010-04-01/Accounts/ACe690dc491a27b3c2ea1d62495f768926/Messages/SMb302628334dc4f0b926f025a92d9628d.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/ACe690dc491a27b3c2ea1d62495f768926/Messages/SMb302628334dc4f0b926f025a92d9628d/Media.json"}}'
  recorded_at: Wed, 24 Jul 2019 04:10:43 GMT
[...]
